{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <h2>Currencies</h2>
        <div class="search-bar">
            <input type="text" name="currency-search" id="currency-search" placeholder="Search currency">
        </div>
    </div>
    <div class="currencies">
        <table>
            <tr>
                <th></th>
                <th>Currency</th>
                <th>High</th>
                <th>Low</th>
                <th>Average</th>
                <th>Change</th>
                <th>Change (%)</th>
                <th></th>
            </tr>
            {% for currency in currencies %}
                {% include 'partials/currency_list_row.html' %}
            {% endfor %}
        </table>
    <script>updateNavFocus('currencies');</script>
    <script>
        colorChangeColumns(document.querySelectorAll(".currencies table"), 'td:nth-child(6), td:nth-child(7)');
        document.querySelector(".currencies table").addEventListener('htmx:afterSwap', ()=> {colorChangeColumns(document.querySelectorAll(".currencies table"), 'td:nth-child(6), td:nth-child(7)')});
    </script>
{% endblock content %}