{% extends "layout.html" %}
{% block content %}
    <div class="loading-overlay" hx-get="{{ htmx_link_to_load }}" hx-target="#wrapper" hx-trigger="load">
        <div class="loading">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
{% endblock content %}