<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzer | Currency Analyzer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon-green.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@1.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.4.0/dist/chartjs-plugin-annotation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
    <nav hx-get="{{ url_for('main.currency_watch_list') }}" hx-trigger="load" hx-target="#watch-list">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Currency Analyzer">
        </div>
        <div class="menu">
            <a href="{{ url_for('main.currency_list') }}"><i class='bx bx-coin'></i>Currencies</a>
            <a href="{{ url_for('main.analyze') }}"><i class='bx bx-search'></i>Analyzer</a>
        </div>
        {% include 'partials/watch_list.html' %}
    </nav>
    {% include 'partials/notifications.html' %}
    <div class="wrapper" id="wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>